*.pyc

*pycache*/*.pyc

pycache

*scratchpad*

.mypy_cache

.pytest_cache

.tox

.coverage

.vscode/**/*
!.vscode/settings.json
!.vscode/launch.json

#ignore dev-env virtual environment
.venv/dev-env
.venv

#Ignore egg build files
*.egg-info
